.contentWrapper1 {
  width: 100%;
  height: 100px;
  background-color: transparent;
}

.contentWrapper {
  width: 100%;
  max-width: 1000px;
}

.contentHeader {
  color: white;
  font-family: "Roboto Mono" , sans-serif;
  width: 0px;
  display: inline-block;
  position: relative;
  height: auto;
  margin: 5px;
  padding: 10px;
  font-size: 1.5em;
}

.contentHeader::after {
  display: block;
  position: absolute;
  height: 40%;
  width: 3px;
  top: 30%;
  right: 10px;
  background-color: transparent;
}

.contentHeader h2 {
  color: white;
  position: relative;
  overflow: hidden;
}

.contentHeaderShow {
  letter-spacing: 4px;
  width: auto;
}

.contentHeaderShow::after {
  -webkit-animation: blinkCursor 0.8s forwards steps(3);
          animation: blinkCursor 0.8s forwards steps(3);
  -webkit-animation-iteration-count: 7;
          animation-iteration-count: 7;
  content: "";
  background-color: #c8c8c8;
}

.contentHeaderShow h2 {
  -webkit-animation: textTyping 2s forwards steps(15);
          animation: textTyping 2s forwards steps(15);
}

@-webkit-keyframes blinkCursor {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}

@keyframes blinkCursor {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes textTyping {
  0% {
    width: 0px;
    background-color: transparent;
    padding: 10px;
  }
  70% {
    width: 335px;
    background-color: transparent;
    padding: 10px;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    padding: 10px;
  }
}

@keyframes textTyping {
  0% {
    width: 0px;
    background-color: transparent;
    padding: 10px;
  }
  70% {
    width: 335px;
    background-color: transparent;
    padding: 10px;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    padding: 10px;
  }
}

.content1 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentText {
  color: white;
  font-size: 2em;
  display: inline-block;
  margin: 1px 0px 1px 5px;
}

.Typewriter {
  display: inline-block;
  color: #0086f3;
}

@media screen and (max-width: 400px) {
  .contentHeader {
    font-size: 1em;
  }
  .contentText {
    font-size: 1.7em;
  }
  @-webkit-keyframes textTyping {
    0% {
      width: 0px;
      background-color: transparent;
      padding: 10px;
    }
    70% {
      width: 250px;
      background-color: transparent;
      padding: 10px;
    }
    100% {
      background-color: rgba(0, 0, 0, 0.253);
      border-radius: 5px;
      padding: 10px;
    }
  }
  @keyframes textTyping {
    0% {
      width: 0px;
      background-color: transparent;
      padding: 10px;
    }
    70% {
      width: 250px;
      background-color: transparent;
      padding: 10px;
    }
    100% {
      background-color: rgba(0, 0, 0, 0.253);
      border-radius: 5px;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 330px) {
  .contentHeader {
    font-size: 0.9em;
  }
  .contentText {
    font-size: 1.5em;
  }
  @-webkit-keyframes textTyping {
    0% {
      width: 0px;
      background-color: transparent;
      padding: 10px;
    }
    70% {
      width: 220px;
      background-color: transparent;
      padding: 10px;
    }
    100% {
      background-color: rgba(0, 0, 0, 0.253);
      border-radius: 5px;
      padding: 10px;
    }
  }
  @keyframes textTyping {
    0% {
      width: 0px;
      background-color: transparent;
      padding: 10px;
    }
    70% {
      width: 220px;
      background-color: transparent;
      padding: 10px;
    }
    100% {
      background-color: rgba(0, 0, 0, 0.253);
      border-radius: 5px;
      padding: 10px;
    }
  }
}
/*# sourceMappingURL=HomeContent.css.map */