
$imageHeight:calc(70vh - 70px);

.homeContainer{
    display: flex;
    flex-direction: column;
    width:100vw;
    height:300vh;
}

.mainImage{
    position:relative;
    width:100vw;
    height: $imageHeight;
    background-color: transparent;
}

.mainImage > img {
    width:100%;
    height: 90vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top:0px;

}

.mainTextContainer{
    display:flex;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    width:100%;
    height:$imageHeight;
    align-items: center;
}

.leftQuote{
    display:flex;
    background-color: rgba(0, 0, 0, 0.4);
    position:absolute;
    color:rgb(255, 255, 255);
    font-family: "Roboto Mono", sans-serif;
    border-radius: 10px;
    margin:20px;
    z-index: -1;
    
}

.leftQuoteText{
    margin:8px;
    font-size: 2.5em;
    animation:forwards textFade 3s;
    color: transparent;
    user-select: none;
}

.contentContainer{
    background-color: rgb(30,30,30);
    height:150vh;
    width:100%;
    z-index: -1;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

@keyframes textFade {
    from {transform:translateY(30px);color: transparent;}
    to {transform:translateY(0px);color: white;}
}

@media screen and (max-width:610px) {
    .leftQuoteText{
        font-size :1.5em;
    }
    .mainImage > img {
        height: 40vh;
    }
    .mainImage{
        height:40vh;
    }
    .mainTextContainer{
        height:40vh;
    }
}

@media screen and (max-width:382px) {
    .leftQuoteText{
        font-size:1.2em;
    }
}