@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper1{
    width: 100%;
    height:200px;
    background-color: transparent;
}

.contentWrapper{
    width:100%;
    max-width: 1000px;
}

.contentHeader{
    color:white;
    font-family: "Roboto Mono" , sans-serif;
    width: 0px;
    display: inline-block;
    position: relative;
    height: auto;
    margin: 5px;
    padding:10px;
    font-size: 1.5em;
    &::after{
        
        display: block;
        position: absolute;
        height:40%;
        width: 3px;
        top:30%;
        right:15px;
        background-color: transparent;
        
    }

    h2{
        color: white;
        position: relative;
        overflow:hidden ;
    }
}

.contentHeaderShow{
    width:auto;
    &::after{
        animation: blinkCursor 0.8s forwards;
        animation-iteration-count: 5;
        content:"";
        background-color: rgb(200, 200, 200);
    }

    h2{
        animation: textTyping 1.3s forwards steps(12);
    }
}

@keyframes blinkCursor {
    0%,75%{
        opacity:1;
    }
    76%,100%{
        opacity: 0;
    }
    
}

@keyframes textTyping {
    0%{
        width:0px;
        background-color: transparent;
    }
    70%{
        width:172.83px;
        background-color: transparent;
    }
    100%{
        background-color: rgba(0, 0, 0, 0.253);
        border-radius: 5px;
        padding: 10px;
    }
}

.content1{
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contentText{
    color:white;
    font-size: 2em;
    display: inline-block;
    margin:1px 0px 1px 5px;
}

.Typewriter{
    display:inline-block;
    color:rgb(0, 134, 243);
}